@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
  color: inherit;
}

html {
  color: black;
  background-color: white;
}

.dark {
  color: white;
  background-color: black;
}

body {
  font-family: "JetBrains Mono", monospace;
  text-transform: uppercase;
  font-size: 0.9em;
}

.escaped {
  text-transform: none;
}

pre {
  font-family: inherit;
}

a,
button {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
}

@media (min-width: 1024px) {
  a,
  button {
    text-decoration: none;
  }
}

a {
  color: inherit;
}

button {
  font-family: inherit;
  text-transform: inherit;
  border: none;
  background: transparent;
}

a:not(.outside),
button {
  padding: 3px 2px;
  position: relative;
}

a:not(.outside):before,
a:not(.outside)::after
/* button::before, */
/* button::after */ {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

a:not(.outside)::before
/* button::before */ {
  content: "[";
  right: 100%;
}

a:not(.outside)::after
/* button::after */ {
  content: "]";
  left: 100%;
}

a:not(.outside).focused::before,
a:not(.outside).focused::after,
a:not(.outside):hover::before,
a:not(.outside):hover::after
/* button.focused::before, */
/* button.focused::after, */
/* button:hover::before, */
/* button:hover::after */ {
  display: inline;
}

p + p {
  margin-top: 15px;
}

kbd {
  font-family: inherit;
  font-size: 0.8em;
  display: none;
}

kbd::before {
  content: "[";
}

kbd::after {
  content: "]";
}

@media (min-width: 1024px) {
  kbd {
    display: block;
  }
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1#hero {
  font-weight: 700;
  font-size: 5em;
  display: none;
  text-transform: none;
}

h1#hero.appear {
  display: block;
}

/* Used for the blinking cursor */
span.disappear {
  opacity: 0;
}

button#theme {
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: inherit;
}

@media (min-width: 768px) {
  button#theme {
    bottom: 80px;
    right: 80px;
  }
}

button#theme::before {
  content: "L1GH7";
  display: block;
}

.dark button#theme::before {
  content: "D4RK";
}

ul {
  list-style: none;
}

footer {
  position: fixed;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  font-size: 0.9em;
}

nav > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (min-width: 768px) {
  nav > ul {
    flex-direction: row;
    gap: 30px;
  }
}

/*
 * SECTIONS
 */

section {
  display: none;
  position: fixed;
  padding: 80px;
  width: 100vw;
  height: 100vh;
}

@media (min-width: 768px) {
  section {
    padding: 150px 200px;
  }
}

@media (min-width: 1024px) {
  section {
    padding: 150px 300px;
  }
}

section.appear {
  display: block;
}

section .back-home {
  position: absolute;
  bottom: 200px;
  left: 80px;
}

@media (min-width: 768px) {
  section .back-home {
    bottom: 150px;
    left: 200px;
  }
}

@media (min-width: 1024px) {
  section .back-home {
    bottom: 200px;
    left: 300px;
  }
}

section > ul {
  margin: 40px 0;
}

section#help > pre {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/*
 * 404
 */

.code-404 {
  position: absolute;
  transition: all 0.3s;
}
