@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

body {
  font-family: "JetBrains Mono", monospace;
  color: black;
  background-color: white;
}

body.dark {
  color: white;
  background-color: black;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1#hero {
  font-weight: 700;
  font-size: 5em;
  display: none;
}

h1#hero.appear {
  display: block;
}

/* Used for the blinking cursor */
span.disappear {
  opacity: 0;
}

button#theme {
  position: fixed;
  bottom: 80px;
  right: 80px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  background-color: black;
  cursor: pointer;
}

.dark button#theme {
  background-color: white;
}

button#theme:hover,
button#theme:active {
  background-color: black;
}

.dark button#theme:hover,
.dark button#theme:active {
  background-color: white;
}

footer {
  position: fixed;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  font-size: 0.9em;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  text-transform: uppercase;
  position: relative;
}

li > a {
  padding: 3px 2px;
  color: inherit;
  text-decoration: none;
}

li::before,
li::after {
  display: none;
  position: absolute;
}

li::before {
  content: "[";
  right: 100%;
}

li::after {
  content: "]";
  left: 100%;
}

li.focused::before,
li.focused::after,
li:hover::before,
li:hover::after {
  display: inline;
}

li + li {
  margin-left: 30px;
}

/*
 * SECTIONS
 */

section {
  display: none;
  position: fixed;
  padding: 50px;
  width: 100vw;
  height: 100vh;
}

section.appear {
  display: block;
}
